.App {
  margin: 4rem auto;
  padding: 0 2rem;
}

.App .home {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.App .book {
  max-width: 290px;
  width: 100%;
  background-color: #3b4f6f;
  border-radius: 16px;
  color: #fff;
  padding: 1rem 2rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.App ul.MuiPagination-ul {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.App .input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.App .input label {
  margin-right: 0.75rem;
}

.App .input input {
  background: none;
  background-color: #fff;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  max-width: 250px;
  border: none;
  border-radius: 6px;
}
