.App {
  /* max-width: 1020px; */
  margin: 2rem auto;
  /* background-color: red; */
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.App .book {
  max-width: 290px;
  width: 100%;
  background-color: #3b4f6f;
  border-radius: 16px;
  color: #fff;
  padding: 1rem 2rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  /* flex-basis: 16%; */
}
